<!DOCTYPE html>
<html>
 <head>
	 <title>Edit Book</title>
 </head>
 <body>	
	<div th:if="${user}">
				<p th:text="${user.nome + ' ' + user.cognome}"></p>
		  		<p><a href="/logout">Logout</a></p>
			</div>
	 <h1>Modifica il libro</h1>
	 <form th:action="@{/admin/book/{idB}/edit(idB=${book.id})}" method="POST" th:object="${book}" enctype="multipart/form-data">
		<div th:if="${errEsiste}">
		 	<p th:text="${errEsiste}"></p>
		</div>
		<div>
		 Titolo: <span><input type="text" th:field="${book.titolo}"/></span>
		 <span th:if="${#fields.hasErrors('titolo')}" th:errors="${book.titolo}"></span>
		 </div>
		 <div>
		 Anno di Pubblicazione: <span><input type="text" th:field="${book.annoPubblicazione}"/></span>
		 <span th:if="${#fields.hasErrors('annoPubblicazione')}" th:errors="${book.annoPubblicazione}"></span>
		 </div>
		 <div>
		     <label>Autori:</label>
		     <div th:each="autore : ${authors}">
		         <label>
		             <input type="checkbox" 
					 		name = "autori"
		                    th:value="${autore.id}" /> 
		             <span th:text="${autore.nome + ' ' + autore.cognome}"></span>
		         </label>
		     </div>
		 </div>
		 <div>
		 	            <label for="imageFiles">Immagini</label>
		 	            <input type="file" 
		 	                   name="imageFiles" 
		 	                   id="imageFiles" 
		 	                   multiple 
		 	                   accept="image/*" 
		 	                   required/>
		 </div>
		 <div>
		 <span><button type="submit">Conferma</button></span>
		 </div>
		 
	 </form>
	 <a href="/admin/book">Torna ai libri</a>
	 <p><a href="/admin">Torna alla home</a></p>
 </body>
</html>