<!DOCTYPE html>
<html>
  <head>
    <title>SiwBooks</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
      <h1><strong>SiwBooks</strong></h1>
	  <div th:if="${param.registered}" style="color: green; margin-bottom: 10px;">
	      Registrazione completata con successo! Ora puoi effettuare il login.
	  </div>
	  <h2>Hai già un account? Accedi</h2>
	  <form th:action="@{/login}" method="post">
		<div>
			<span>Username : </span>
			<span><input type="text" required name="username" autocomplete="off"></span>
		</div>
		<div>
			<span>Password : </span>
			<span><input type="password" required name="pwd" autocomplete="off"></span>
		</div>
		<span><button type="submit">Login</button></span>
	  </form>
	  <p><a href="/register">Registrati</a></p>
  </body>
</html>