<!DOCTYPE html>
<html>
	 <head>
		 <title>Autori</title>
	 </head>
	 <body>
		<div th:if="${user}">
					<p th:text="${user.nome + ' ' + user.cognome}"></p>
			  		<p><a href="/logout">Logout</a></p>
				</div>
		 <h1>Tutti gli Autori</h1>
		 <div th:if="${authors.isEmpty()}">Non ci sono autori nel sistema</div>
		 <ul>
		 	<li th:each="author : ${authors}">
		 		<a th:href="@{'/user/author' + '/' + ${author.id}}"
		 		th:text="${author.nome + ' ' + author.cognome}">nome e cognome</a>
		 	</li>
		 </ul>
		 <p><a href="/user">Torna alla home</a></p>
	 </body>
</html>
