<!DOCTYPE html>
<html>
	<head>
		<title>Libro</title>
	</head>
	<body> 
		<div th:if="${user}">
					<p th:text="${user.nome + ' ' + user.cognome}"></p>
			  		<p><a href="/logout">Logout</a></p>
				</div>
		<div th:if="${book}">
			<h1 th:text="${book.titolo}">Titolo Libro</h1>
			<div>Anno di pubblicazione: <span th:text="${book.annoPubblicazione} ">2000</span></div>
			<div th:if="${!book.autori.isEmpty()}">
				<h3>Autori:</h3>
					<ul>
						<li th:each="autore : ${book.autori}">
							<a th:href="@{'/user/author' + '/' + ${autore.id}}" th:text="${autore.nome + ' ' + autore.cognome}">Autore</a>
						</li>
					</ul>
			</div> 
			<div th:if="${!book.recensioni.isEmpty()}">
							<h3>Recensioni:</h3>
								<ul>
									<li th:each="r : ${book.recensioni}">
										<span th:utext="${r.titolo + '<br/>' + r.voto + '<br/>' + r.testo + '<br/>' + r.utente}">Recensione</span>
									</li>
								</ul>
						</div>
			<div th:if="${!book.immagini.isEmpty()}">
			  <h3>Immagini:</h3>
			  <div>
			    <img th:each="img : ${book.immagini}" 
			         th:src="${img.nome}" 
			         alt="Immagine libro" 
			         style="max-width: 200px; max-height: 200px; margin: 5px;" />
			  </div>
			</div> 
		</div>
		<div th:unless="${book}">Non esiste</div>
		<p><a href="/user/book">Torna ai libri</a></p>
		<p><a href="/user">Torna alla home</a></p>
	</body>
</html>
