<!DOCTYPE html>
<html>
  <head>
    <title>SiwBooks</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
      <h1><strong>SiwBooks</strong></h1>
	  <header>
		<div th:if="${user}">
			<p th:text="${user.nome + ' ' + user.cognome}"></p>
	  		<p><a href="/logout">Logout</a></p>
		</div>
		<p th:unless="${user}">
			<span><a href="/login">Accedi</a></span>
			<span><a href="/register">Registrati</a></span></p>	
	  </header>
	  <h2>Pagina iniziale</h2>
	  <p><a href="/user/book">Tutti i libri</a></p>
	  <p><a href="/user/author">Tutti gli autori</a></p>
  </body>
</html>